
<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
          <div>

        <img src="~/Images/undraw_filing_system_re_56h6.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>

    </div>
    <div class="col-md-6">

        <div class="row py-2 justify-content-center">
            <div class="col-md-6">
                <p class=" fw-bolder text-center">
                    <span class="fs-3">📄</span>
                    <br />
                    <span class="fw-bolder">
                        Required documents
                    </span>
                </p>
                @*<p>
                    Upload or provide on delivery to confirm your account opening with up to EGP <span class="text-primary"> 18,665 LE credit </span>
                </p>*@
            </div>
        </div>

        <form id="documentsFrom">

            <div class="row">
                <div class="col-md-6">
                    <div id="idFrontDiv">
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="uploadFileArea idFront">
                                        <p class="m-0">📄 Photo of ID (front)</p>
                                        <input type="file" required class="form-control" name="idFront" id="idFront" />
                                    </div>
                                    <div class="uploadIcon idFrontIcon">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="idBackDiv">
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="uploadFileArea idBack">
                                        <p class="m-0">📄 Photo of ID (back)</p>
                                        <input type="file" required class="form-control" name="idBack" id="idBack" />
                                    </div>
                                    <div class="uploadIcon idBackIcon">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row py-2 justify-content-center">
                            <div class="col-md-12">

                                <input type="checkbox" id="IDFronBack" class="dx-checkbox mx-2" />
                                Provide to delivery representative
                            </div>
                        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row py-2 justify-content-center">
                        <div class="col-md-12">

                            <input type="checkbox" id="haveMedicalInsurenceCB" />
                            <label>I have medical insurence</label>
                        </div>
                    </div>
                    <div id="healthCareDiv">
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="uploadFileArea healthCareID">
                                        <p class="m-0">📄 Medical Insurence ID</p>
                                        <input type="file" required class="form-control" id="healthCareID" />
                                    </div>
                                    <div class="uploadIcon healthCareIDIcon">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">

                                <input type="checkbox" id="cbHealtCare" class="dx-checkbox mx-2" />
                                Provide to delivery representative
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row py-2 justify-content-center">
                        <div class="col-md-12">
                            <input type="checkbox" id="haveACar" />
                            <label>I have a car</label>

                        </div>
                    </div>
                    <div id="carlicenseDiv">
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="uploadFileArea carLisenceId">
                                        <p class="m-0">📄 Car Lisence ID</p>
                                        <input type="file" required class="form-control" id="carLisence" name="carLisence" />
                                    </div>
                                    <div class="uploadIcon carLisenceIdIcon">
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row py-2 justify-content-center">
                            <div class="col-md-12">

                                <input type="checkbox" id="cbCarID" class="dx-checkbox mx-2" />
                                Provide to delivery representative
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           


            <!-- self employed -->
            <div id="selfEmployed">

        
            </div>
            <div class="row py-2 justify-content-center">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="documentsBtn"> Continue </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    
   

    $("#healthCareDiv").hide();
    $("#healthCareDDL").select2();
    $("#haveMedicalInsurenceCB").click(function () {
        if($(this).is(":checked")){

            $("#healthCareDiv").fadeIn(300);
        }
        else{
            $("#healthCareDiv").fadeOut(300);

        }
    });

    $(".healthCareIDIcon ").click(function () {
        document.getElementById('healthCareID').click();
    });

    $("#carlicenseDiv").hide();
    $("#haveACar").click(function () {
        $(this).is(":checked") ? $("#carlicenseDiv").fadeIn(300) : $("#carlicenseDiv").fadeOut(300) ;
    });

    $(".carLisenceIdIcon ").click(function () {
        document.getElementById('carLisence').click();
    });

    $(".idFrontIcon ").click(function () {
        document.getElementById('idFront').click();
    });
    $(".idBackIcon ").click(function () {
        document.getElementById('idBack').click();
    });
    $(".taxRecordIcon ").click(function () {
        document.getElementById('taxRecord').click();
    });
    $(".commercialRecordIcon ").click(function () {
        document.getElementById('commercialRecord').click();
    });

    $("#IDFronBack").click(function () {
        if ($(this).is(":checked")) {

            $("#idFront").prop("required", false);
            $("#idBack").prop("required", false);
        }
        else {
            $("#idFront").prop("required", true);
            $("#idBack").prop("required", true);

        }
    });
    $("#cbHealtCare").click(function () {
        if ($(this).is(":checked"))
            $("#healthCareID").prop("required", false);
        else
            $("#healthCareID").prop("required", true);
    });
    $("#cbCarID").click(function () {
        if ($(this).is(":checked"))
            $("#carLisence").prop("required", false);
        else
            $("#carLisence").prop("required", true);
    });

    $("#cbTaxRecord").click(function () {
        if ($(this).is(":checked"))
            $("#taxRecord").prop("required", false);
        else
            $("#taxRecord").prop("required", true);
    });
    $("#cbCommercialRecord").click(function () {
        if ($(this).is(":checked"))
            $("#commercialRecord").prop("required", false);
        else
            $("#commercialRecord").prop("required", true);
    });
</script>
<script>
   
</script>
<script>
    $("#documentsFrom").validate({
        errorClass: "validationError"
    });
    $("#documentsBtn").click(async function () {
        if ($("#documentsFrom").valid()) {
             jobType = $('input[name=JobTypeId]:checked').val();
            // attachements
            
            if (!$("#IDFronBack").is(":checked")) {
                attachments.push({
                    "attachmentTypeId": 1,
                    "name": getFileName("#idFront"),
                    "imageBase64": await getBase64("#idFront").then(res => res.toString().split(",")[1])
                });
                attachments.push(
                    {
                        "attachmentTypeId": 2,
                        "name": getFileName("#idBack"),
                        "imageBase64": await getBase64("#idBack").then(res => res.toString().split(",")[1])
                    }
                )
            }
            if ( $("#haveMedicalInsurenceCB").is(":checked")){

                if (!$("#cbHealtCare").is(":checked") ) {
                    attachments.push({
                        "attachmentTypeId": 3,
                        "name": getFileName("#healthCareID"),
                        "imageBase64": await getBase64("#healthCareID").then(res => res.toString().split(",")[1])
                    });
                }
            }
            if ($("#haveACar").is(":checked")){

                if (!$("#cbCarID").is(":checked")) {
                    attachments.push({
                        "attachmentTypeId": 4,
                        "name": getFileName("#carLisence"),
                        "imageBase64": await getBase64("#carLisence").then(res => res.toString().split(",")[1])
                     });
                 }
            }
            if ($('input[name=JobTypeId]:checked').val() == 1){
                if (!$("#cbCommercialRecord").is(":checked")) {
                    attachments.push({
                        "attachmentTypeId": 3,
                        "name": getFileName("#commercialRecord"),
                        "imageBase64": await getBase64("#commercialRecord").then(res => res.toString().split(",")[1])
                    });
                }
                if (!$("#cbTaxRecord").is(":checked")) {
                    attachments.push({
                        "attachmentTypeId": 3,
                        "name": getFileName("#taxRecord"),
                        "imageBase64": await getBase64("#taxRecord").then(res => res.toString().split(",")[1])
                    });
                }
            }
            console.log(attachments)
            //if (!$("#cbClubDelivery").is(":checked")) {
            //    alert("cbClubDelivery");
            //    attachments.push({
            //        "attachmentTypeId": 4,
            //        "name": getFileName("#clubFile"),
            //        "imageBase64": await getBase64("#clubFile").then(res => res.toString().split("9j/")[1])
            //    });
            //}
            //if (!$("#cbClub").is(":checked")){
            //    alert("cbClub");
            //    for (let i = 0; i < $("#sportClubId").val().length; i++) {
            
            //        clubs.push({ id: $("#sportClubId").val()[i]})
                    
            //    }
            //    console.log(clubs);
            //}
                $("#_document").slideUp(500, function () {
                    $("#_guarantor1").slideDown(500);
                });
            
        }
    });
</script>


