
<div class="history-tl-container">
    <ul class="tl w-100">
        <li class="tl-item p-0 px-4" ng-repeat="item in retailer_history ">
            <div class="d-flex justify-content-between align-items-center ">
                <div class="d-flex flex-column">
                    <div class="item-title">Guarantor's relation to you</div>
                    <div class="item-detail" id="GuarantorRelation"></div>
                </div>
                <span class="material-symbols-outlined"onclick="redirectAndFillData('guarntorRelationContainer')">
                    arrow_forward_ios
                </span>
            </div>
        </li>
        <li class="tl-item p-0 px-4" ng-repeat="item in retailer_history">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="item-title">Guarantor's personal info</div>
                    <div class="item-detail">
                        <div id="GuarantorNationalId"></div>
                        <div id="GuarantorName"></div>
                        <div id="GuarantorMobileNumber"></div>
                       
                    </div>
                </div>
                <span class="material-symbols-outlined"onclick="redirectAndFillData('guarntorPersonalInfoContainer')">
                    arrow_forward_ios
                </span>
            </div>
        </li>
        <li class="tl-item p-0 px-4" ng-repeat="item in retailer_history">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="item-title">Guarantor's address</div>
                    <div class="item-detail">
                            @*<span id="GuarantorNearestLand"></span>*@
                            <span id="GuarantorAddressDetails"></span>
                            <span id="GuarantorCity"></span>
                            <span id="GuarantorGouvernrate"></span>
                    </div>
                </div>
                <span class="material-symbols-outlined"onclick="redirectAndFillData('guarntorAddressContainer')">
                    arrow_forward_ios
                </span>
            </div>
        </li>
       
    </ul>

</div>