
<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
          <div>

        <img src="~/Images/undraw_security_on_re_e491.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class="col-md-6">
        
        <div class="row py-2 justify-content-center">
            <div class="col-md-6">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">🛡</span>
                    <br />
                    <span class="fw-bolder">
                        Guarantor info (1/3)

                    </span>
                </p>
                <p class="text-center">
                    How is the guarantor related to you?
                </p>

            </div>
        </div>


        <div class="row py-2 justify-content-center">
            <div class="col">
            <div class="_selection relationTypeId_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="relationTypeId" value="1" />
                    Wife
                </label>

            </div>

            </div>
            <div class="col">
            <div class="_selection relationTypeId_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="relationTypeId" value="2" />
                    Husband
                </label>

            </div>

            </div>
            <div class="col">
            <div class="_selection relationTypeId_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="relationTypeId" value="3" />
                    Father/Mother
                </label>

            </div>

            </div>
            <div class="col">

            <div class="_selection relationTypeId_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="relationTypeId" value="4" />
                    Sister/Brother
                </label>

            </div>
            </div>
            <div class="col">
            <div class="_selection relationTypeId_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="relationTypeId" value="5" />
                    Other
                </label>

            </div>

            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="guarantorRelartionBtn"> Continue </button>
            </div>
        </div>
    </div>
</div>


<script>

   
    $(function(){
    // relationTypeId
        let radioButtons = $(".relationTypeId_Selection");
        $(radioButtons[0]).children().children().attr('checked', "checked");
        $(radioButtons[0]).css("border", "1px solid #0840b8");
        $(".relationTypeId_Selection").click(function () {
            $(this).css("border", "1px solid #0840b8");
            $(this).children().children().prop('checked', true);

            let radioSibilings = $(this).siblings();

            for (let index = 0; index < radioSibilings.length; index++) {
                $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
            }
        });
    });

    


    $("#guarantorRelartionBtn").click(function () {
        //$("input[type=radio name=JobTypeId]")
        $("#_guarantor1").slideUp(500, function () {
            $("#_guarantor2").slideDown(500);

        });

    });


</script>
