
<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
        <div>

        <img src="~/Images/undraw_security_on_re_e491.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class="col-md-6">

        <div class="row py-2 justify-content-center">
            <div class="col-md-12">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">🛡</span>
                    <br />
                    <span class="fw-bolder">
                        Guarantor info (3/3)

                    </span>
                </p>
                <p class="text-center">
                    Your guarantor's home address
                </p>

            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-md-12">
                <input type="checkbox"  id="applicantAddress" />
                <label>Use applicant's address</label>

            </div>
        </div>
        <form id="guarantor3Form">

        <div id="guarantorAddress">

            <div class="row py-2 justify-content-center">
                <div class="col-md-6">

                        <label>Governerate</label>
                        <select name="guarantorGovernerateId" id="guarantorgovernerateId" required class="form-control">
                    </select>

                </div>
                <div class="col-md-6">

                        <label>City/Area</label>
                        <select name="guarantorCityId" id="guarantorCity" required class="form-control">
                    </select>

                </div>
            </div>
     

            <div class="row py-2 justify-content-center">
                <div class="col-md-6">
                    <div class="form__group m-0 ">
                            <input type="text" name="grantorAddressDetails" required id="grantorAddressDetails" class="form__field" placeholder="Your Email">
                            <label for="grantorAddressDetails" class="form__label inputPlaceHolder">Details (street, building, floor, and apartment no.)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form__group m-0 ">
                            <input type="text" name="grantorAddressNearestLandmark" required id="grantorAddressNearestLandmark" class="form__field" placeholder="nearest land mark">
                            <label for="grantorAddressNearestLandmark" class="form__label inputPlaceHolder">Nearest land mark</label>
                    </div>
                </div>
            </div>
      
        </div>




            <div class="row py-2 justify-content-center">
                <div class="col-md-12">
                     <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="guarantor3Btn"> Continue </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    //let installmentCard = {}; 
    $(function(){
        
        $("#applicantAddress").click(function () {
           
            if ($('#applicantAddress').prop("checked")) {
                $("#guarantorAddress").fadeOut(300);
                $("#guarantorgovernerateId , #guarantorCity , #grantorAddressDetails , #grantorAddressNearestLandmark").prop("required" , false);
            }
            else{
                $("#guarantorAddress").fadeIn(300);
                $("#guarantorgovernerateId , #guarantorCity , #grantorAddressDetails , #grantorAddressNearestLandmark").prop("required" , true);
            }      
        });
    })

    $("#guarantor3Form").validate({
        errorClass: "validationError"
    });
    $("#guarantor3Btn").click(function () {
        if ($("#guarantor3Form").valid())
        {
            if ($('#applicantAddress').prop("checked")){
                installmentCard = {
                    "customerName": $("#customerName").val(),
                    "customerNationalId": parseInt($("#customerNationalId").val()),
                    "customerMobileNumber": $("#mobileNumber").val(),
                    "customerHasCar": $("#haveACar").is(":checked") ? true : false,
                    "customerHasMedicalInsurance": $("#haveMedicalInsurenceCB").is(":checked") ? true : false,
                    "customerUniversityId": null,
                    "customerJobTitle": $("#jobTitle").val(),
                    "customerMartialStatus": {
                        "id": $('input[name=MartialStatus]:checked').val()
                    },
                    "clubsIds": null,
                    "customerAddressDetails": $("#customeraddressDetails").val(),
                    "customerAddressNearestLandmark": $("#customerAddressNearestLandmark").val(),
                    "customerBuildingType": {
                        "id": $('input[name=customerBuildingType]:checked').val()
                    },
                    "customerCityId": {
                        "id": $("#city").val()
                    },
                    "customerGovernrateId": {
                        "id": parseInt($("#governerate").val())
                    },
                    "jobStartingDate": $("#startDate").val(),
                    "yearsOfResidance": $("#yearsOfResidance").val(),
                    "attachments": attachments,
                    "jobAddress": $("#jobAddress").val(),
                    "salary": $("#salary").val(),
                    "isPrivateSector": !$('#publicSector').prop("checked") ? true : false,
                    "jobTypeId": {
                        "id": jopTitle
                    },
                    "grantorMobileNumber": $("#grantorMobileNumber").val(),
                    "grantorNationalId": parseInt($("#grantorNationalId").val()),
                    "grantorName": $("#grantorName").val(),
                    "grantorRelationId": { id: parseInt($('input[name=relationTypeId]:checked').val()) },
                    "grantorAddressDetails": $("#customeraddressDetails").val(),
                    "grantorAddressNearestLandmark": $("#customerAddressNearestLandmark").val(),
                    "grantorBuildingType": {
                        "id": $('input[name=customerBuildingType]:checked').val()
                    },
                    "grantorCityId": {
                        "id": $("#city").val()
                    },
                    "grantorGovernrateId": { id: parseInt($("#guarantorgovernerateId").val()) },
                    "grantorNearestSign": null
                }
            }
            else{
                installmentCard = {
                    "customerName": $("#customerName").val(),
                    "customerNationalId": parseInt($("#customerNationalId").val()),
                    "customerMobileNumber": $("#mobileNumber").val(),
                    "customerHasCar": $("#haveACar").is(":checked") ? true : false,
                    "customerHasMedicalInsurance": $("#haveMedicalInsurenceCB").is(":checked") ? true : false,
                    "customerUniversityId": null,
                    "customerJobTitle": $("#jobTitle").val(),
                    "customerMartialStatus": {
                        "id": $('input[name=MartialStatus]:checked').val()
                    },
                    "clubsIds": null,
                    "customerAddressDetails": $("#customeraddressDetails").val(),
                    "customerAddressNearestLandmark": $("#customerAddressNearestLandmark").val(),
                    "customerBuildingType": {
                        "id": $('input[name=customerBuildingType]:checked').val()
                    },
                    "customerCityId": {
                        "id": $("#city").val()
                    },
                    "customerGovernrateId": {
                        "id": parseInt($("#governerate").val())
                    },
                    "jobStartingDate": $("#startDate").val(),
                    "yearsOfResidance": $("#yearsOfResidance").val(),
                    "attachments": attachments,
                    "jobAddress": $("#jobAddress").val(),
                    "salary": $("#salary").val(),
                    "isPrivateSector": !$('#publicSector').prop("checked") ? true : false,
                    "jobTypeId": {
                        "id": jopTitle
                    },
                    "grantorMobileNumber": $("#grantorMobileNumber").val(),
                    "grantorNationalId": parseInt($("#grantorNationalId").val()),
                    "grantorName": $("#grantorName").val(),
                    "grantorRelationId": { id: parseInt($('input[name=relationTypeId]:checked').val()) },
                    "grantorAddressDetails": $("#grantorAddressDetails").val(),
                    "grantorAddressNearestLandmark": $("#grantorAddressNearestLandmark").val(),
                    "grantorBuildingType": null,
                    "grantorCityId": { id: parseInt($("#guarantorCity").val()) },
                    "grantorGovernrateId": { id: parseInt($("#guarantorgovernerateId").val()) },
                    "grantorNearestSign": null

                }
            
            }
            console.log(installmentCard);    
            formSubmit(installmentCard);

        }

    });



</script>