

<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
          <div>

      <img     src="~/Images/undraw_multitasking_re_ffpb.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class="col-md-6">
        <div class="row py-2 justify-content-center">
            <div class="col-md-12">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">💼</span>
                    <br />
                    <span class="fw-bolder">
                        We need some additional information about your job
                        Job sector:

                    </span>
                </p>

            </div>
        </div>

        <form id="jopSectorForm">

            <div class="row py-2 justify-content-center">
                <div class="col-md-10 ">
                    <div class="row p-0">


                        <div class="col-md-6">
                            <div class="_selection jobSector_Selection p-3 my-2">

                                <label class="selection_radio">
                                    <input id="publicSector" type="radio" name="jobSector" value="0" />
                                    public
                                </label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="_selection jobSector_Selection p-3 my-2">

                                <label class="selection_radio">
                                    <input type="radio" name="jobSector" value="1" />
                                    Private
                                </label>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row py-2 justify-content-center">
                <div class="col-md-10">
                    <div class="form__group m-0 ">
                        <input type="text" name="jobTitle" id="jobTitle" required class="form__field" placeholder="Job Title">
                        <label for="jobTitle" class="form__label inputPlaceHolder">Job Title</label>
                    </div>
                </div>
            </div>
            <div class="row py-2 justify-content-center">
                <div class="col-md-10">
                    <div class="form__group m-0 ">
                        <input type="text" name="jobAddress" id="jobAddress" required class="form__field" placeholder="Place of work">
                        <label for="jobAddress" class="form__label inputPlaceHolder">Place of work</label>
                    </div>
                </div>
            </div>

            <div class="row py-2 justify-content-center">
                <div class="col-md-10">
                    <div class="form__group m-0 ">
                        <input type="date" name="startDate" id="startDate" required class="form__field" placeholder="start Date">
                        <label for="jobAddress" class="form__label inputPlaceHolder">Start Date</label>
                    </div>
                </div>
            </div>

            <div class="row py-2 justify-content-center">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="jopSectorBtn"> Continue </button>
                </div>
            </div>
        </form>
    </div>
</div>




<script>

    $(function () {

        // marital selection
        let radioButtons = $(".jobSector_Selection");
        $(radioButtons[0]).children().children().attr('checked', "checked");
        $(radioButtons[0]).css("border", "1px solid #0840b8");
        $(".jobSector_Selection").click(function () {

            $(this).css("border", "1px solid #0840b8");
            $(this).children().children().prop('checked', true);

            let radioSibilings = $(this).siblings();

            for (let index = 0; index < radioSibilings.length; index++) {
                $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
            }

        });

    })

    $("#jopSectorForm").validate({
        errorClass: "validationError"
    });

    
    $("#jopSectorBtn").click(function () {
        if ($("#jopSectorForm").valid()) {
            $("#_jopSector").slideUp(500, function () {
                $("#_monthlyIncome").slideDown(500);
            });
        }

    });

</script>