
<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
        <div>

            <img src="~/Images/undraw_multitasking_re_ffpb.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class="col-md-6">
        <div class="row py-2 justify-content-center">
            <div class="col-md-6">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">💍</span>
                    <br />
                    <span class="fw-bolder">
                        what is your marital status ?
                    </span>
                </p>

            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-md-6">
                <div class="_selection marital_Selection p-3 my-2">

                    <label class="selection_radio">
                        <input type="radio" name="MartialStatus" value="0" />
                        Single
                    </label>

                </div>
                <div class="_selection marital_Selection p-3 my-2">

                    <label class="selection_radio">
                        <input type="radio" name="MartialStatus" value="1" />
                        Married
                    </label>

                </div>
  
        

            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-md-7">
                <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="maritalStatusBtn"> Continue </button>
            </div>
        </div>
    </div>
</div>






<script>

    $(function(){

    
    // marital selection
        let radioButtons = $(".marital_Selection");
    $(radioButtons[0]).children().children().prop('checked', true)
        $(radioButtons[0]).css("border", "1px solid #0840b8");
        $(".marital_Selection").click(function () {

            $(this).css("border", "1px solid #0840b8");
            $(this).children().children().prop('checked', true);

            let radioSibilings = $(this).siblings();

            for (let index = 0; index < radioSibilings.length; index++) {
                $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
            }
       

        });



    })
      $("#maritalStatusBtn").click(function () {
             
            $("#_maritalStatus").slideUp(500, function () {
                $("#_Adress").slideDown(500);
            }); 

      });




</script>