
<div class="row mt-3 align-items-center">
    <div class="d-none d-md-flex col-12 col-md-6">
        <div>

            <img src="~/Images/undraw_message_sent_re_q2kl.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class="col-md-6">
        <div class="row py-2 justify-content-center">
            <div class="col-md-6">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">📱</span>
                    <br />
                    <span>
                        Enter the code from the SMS sent to
                        <span id="mobileNumberToDisplay">

                        </span>
                    </span>

                </p>
                <div class="my-3 d-flex justify-content-around">
                    <input class="otpInput" onfocus="this.placeholder = ''" onblur="this.placeholder = 'X'" type="text" inputmode="numeric" autocomplete="off" length="1" maxlength="1" placeholder="X" name="otp_one" id="otp_one">
                    <input class="otpInput" onfocus="this.placeholder = ''" onblur="this.placeholder = 'X'" type="text" inputmode="numeric" autocomplete="off" length="1" maxlength="1" placeholder="X" name="otp_two" id="otp_two">
                    <input class="otpInput" onfocus="this.placeholder = ''" onblur="this.placeholder = 'X'" type="text" inputmode="numeric" autocomplete="off" length="1" maxlength="1" placeholder="X" name="otp_three" id="otp_three">
                    <input class="otpInput" onfocus="this.placeholder = ''" onblur="this.placeholder = 'X'" type="text" inputmode="numeric" autocomplete="off" length="1" maxlength="1" placeholder="X" name="otp_four" id="otp_four">
                </div>
                <h6 class="text-danger" id="verifyErr"></h6>
                <p class="text-center my-3">
                    <!-- Display the countdown timer in an element -->
                <p id="countDowun" class="text-center text-danger "></p>
                <a class="link" id="resentCode">
                    Resend code
                </a>
                </p>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-md-7">
                <button type="button" class="btn btn-primary w-100" @* disabled="disabled"*@ id="smsCodeBtn"> Continue </button>
            </div>
        </div>
    </div>

</div>



<script>
    $(".otpInput").keyup(function(event){
        if (event.keyCode == 8)
        {
            $(this).prev().focus();
        }
        else{
            $(this).next().focus();
        }
        //console.log(event);
    });
    $("#otp_four").keyup(function () {
        $("#smsCodeBtn").click()
    })

    // verify SMS code

    $("#resentCode").hide();

    $("#smsCodeBtn").click(function () {
        let code = $("#otp_one").val() + $("#otp_two").val() + $("#otp_three").val() + $("#otp_four").val();
      
        $.ajax({
            url: baseURL + "Data/VerifyCode?mobileNumber=" + $("#mobileNumber").val() + "&code=" + code,
            type: "POST",
            datatype: "json",
            contentType: "application/json",
            async: false,
            success: function (res) {
                if (res.succeded) {
                   
                    var mobileNumber = localStorage.getItem("mobileNumber")//if there is mobile number stored
                    if (!!mobileNumber) {
                         
                        //to check if the mobile number is used before
                        $.ajax({
                            url: baseURL + "InstallmentCard/GetInstallmentCardByMobileNumber?mobileNumber=" + mobileNumber + "&lang=en",
                            type: "GET",
                            async: false,
                            datatype: "json",
                            contentType: "application/json",
                            success: function (res) {
                                if (res.succeded) {
                                    console.log(res)
                                    if (res.content.customerNationaId != $("#customerNationalId").val()) {
                                        failureToaster("This Mobile Number already used with different National Id")
                                        setTimeout(function () {
                                            window.location.replace(window.location.origin.concat(fronApplicationPath + "/installmentData/index"))

                                        }, 5000)
                                    } else {

                                        localStorage.setItem("mobileNumber", mobileNumber)
                                        window.location.replace(window.location.origin.concat(fronApplicationPath + "/installmentData/summary"))
                                        //window.location.replace(fronApplicationPath + "/installmentData/summary")
                                    }
                                } else {
                                    $("#smsCode").slideUp(500, function () {
                                        $("#checkEligibilityResult").slideDown(500);
                                    });
                                    localStorage.setItem("mobileNumber", $("#mobileNumber").val())// adding mobilenumber to local storage
                                }
                            },
                            error: function (err) {
                                console.log("error: ", err)
                            }
                        });

                        //to check if the national idis used before
                        $.ajax({
                            url: baseURL + "InstallmentCard/GetInstallmetnCardWithNationalId?nationalId=" + $("#customerNationalId").val() + "&lang=en",
                            type: "GET",
                            async: false,
                            datatype: "json",
                            contentType: "application/json",
                            success: function (res) {
                                if (res.succeded) {
                                    console.log(res)
                                    if (res.content.customerMobileNumber != $("#mobileNumber").val()) {
                                        failureToaster("This Mobile Number already used with different National Id")
                                        setTimeout(function () {
                                           // window.location.replace(fronApplicationPath + "/installmentData/index")
                                            window.location.replace(window.location.origin.concat(fronApplicationPath+"/installmentData/index"))
                                        }, 5000)
                                    } else {

                                        localStorage.setItem("mobileNumber", mobileNumber)
                                        window.location.replace(window.location.origin.concat(fronApplicationPath + "/installmentData/summary"))
                                        //window.location.replace(fronApplicationPath + "/installmentData/summary")
                                    }
                                } else {
                                    $("#smsCode").slideUp(500, function () {
                                        $("#checkEligibilityResult").slideDown(500);
                                    });
                                    localStorage.setItem("mobileNumber", $("#mobileNumber").val())// adding mobilenumber to local storage
                                }
                            },
                            error: function (err) {
                                console.log("error: ", err)
                            }
                        });




                       // checkIfMobileAssignedToNationalId()
                       
                    } else {
                        $("#smsCode").slideUp(500, function () {
                            $("#checkEligibilityResult").slideDown(500);
                        });
                        localStorage.setItem("mobileNumber", $("#mobileNumber").val())// adding mobilenumber to local storage
                    }
                }
                else {
                    failureToaster(res.message);
                    
                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });


    });
    //esent code
    $("#resentCode").click(function(){
        $.ajax({
            url: baseURL + "Data/SendOTP",
            type: "GET",
            data: { mobileNumber: $("#mobileNumber").val(), lang: 'en' },
            datatype: "json",
            contentType: "application/json",
            success: function (res) {

                if (res.succeded) {
                    // Set the date we're counting down to
                    var countDownDate = new Date().getTime() + 30 * 1000;

                    // Update the count down every 1 second
                    var countSendCode = setInterval(function () {

                        // Get today's date and time
                        var now = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate - now;

                        // Time calculations for hours, minutes and seconds

                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Display the result in the element with id="demo"
                        document.getElementById("countDowun").innerHTML = "code expires in " + minutes + ":" + seconds + " minutes";

                        // If the count down is finished, write some text
                        if (distance < 0) {
                            clearInterval(countSendCode);
                            document.getElementById("countDowun").innerHTML = "EXPIRED";
                            $("#resentCode").show(300);
                        }
                    }, 1000);
                }
                else {
                    //console.log(res);
                    failureToaster(res.message);
                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });
    
    
    });

   
    
</script>




<script>
    
</script>
