<div class="row mt-3 align-items-center">
    <div class=" d-none d-md-flex col-12 col-md-6">
        <div>

            <img src="~/Images/undraw_golf_neir.svg" class="img-fluid" />
        </div>
        <div class="h-breakLine"></div>
    </div>
    <div class=" col-md-6">

        <div class="row py-2 justify-content-center">
            <div class="col-md-8">
                <p class="m-0 fw-bolder text-center">
                    <span class="fs-3">💪</span>
                    <br />
                    <span class="fw-bolder">
                        Select the sports club you're in.
                    </span>
                </p>

            </div>
        </div>
        <form id="sportClubForm">


        <div class="row py-2 justify-content-center">
            <div class="col-md-8">
               <input type="checkbox" id="cbClub"  />
                <label>I am not in a sport club</label>
       

            </div>
        </div>
        <div class="row py-2 justify-content-center" id="sportClubDDLDiv">
            <div class="col-md-8">
                <label>Sports Club</label>
                <select name="sportClubId" id="sportClubId" required  class="form-control">
          
           
                </select>
                x
            </div>
        </div>
        <div id="sportClubDiv">
            <div class="row py-2 justify-content-center">
                <div class="col-md-8">
                    <div class="d-flex justify-content-between">
                        <div class="uploadFileArea clubArea">
                            <p class="m-0">📄 Sports Club ID</p>
                                <input type="file" class="form-control" required name="clubFile" id="clubFile" />

                        </div>
                        <div class="uploadIcon clubUploadIcon">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row py-2 justify-content-center" id="sportClubDiv">
                <div class="col-md-8">

                    <input type="checkbox" id="cbClubDelivery" class="dx-checkbox mx-2" />
                    Provide to delivery representative
                </div>
            </div>
        </div>



        <div class="row py-2 justify-content-center">
            <div class="col-md-8">
                <button type="button" class="btn btn-primary w-100"  id="sportClubBtn"> Continue </button>
            </div>
        </div>
        </form>
    </div>
</div>


<script>
    
    $(function(){
        getAllClubs("en");
        $("#sportClubDiv").hide();
        $("#cbClub").click(function(){
           if( $(this).is(":checked") ){
                $("#sportClubId").prop("required", true);
               $("#sportClubDDLDiv").fadeOut(300)
               $("#sportClubDiv").fadeOut(300)
           }
           else{
                $("#sportClubId").prop("required", false);
               $("#sportClubDDLDiv").fadeIn(300);
               $("#sportClubDiv").fadeIn(300)

           }
        });
        $("#cbClubDelivery").click(function () {
           $(this).is(":checked") ? $("#clubFile").prop("required", false) : $("#clubFile").prop("required", true);
        });
        $("#sportClubId").change(function(){
            
            $("#sportClubDiv").fadeIn(300);
        });
        //clubFile
        $(".clubArea , .clubUploadIcon ").click(function () {
            document.getElementById('clubFile').click();
        });
    })
    $("#sportClubForm").validate({
        errorClass: "validationError"
    });
        $("#sportClubBtn").click(function () {
        console.log($("#sportClubId").val())
           if ($("#sportClubForm").valid()){    
                $("#_sportClub").slideUp(500, function () {
                    $("#_document").slideDown(500);
                });

           }

        }); 
</script>


