@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

    <div>
        <span class="material-symbols-outlined"
              onclick="redirectToSummary()">
            arrow_back
        </span>
    </div>

    <input type="hidden" id="jobDetailId" />
    <div class="row py-2 justify-content-center align-items-center ">
        <div class="col-md-6 ">
            <div class="row p-0">
                <div class="col-md-6">
                    <div class="_selection jobSector_Selection p-3 my-2">

                        <label class="selection_radio">
                            <input id="publicSector" type="radio" name="jobSector"  value="0" />
                            public
                        </label>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="_selection jobSector_Selection p-3 my-2">

                        <label class="selection_radio">
                            <input id="privateSector" type="radio" name="jobSector"  value="1" />
                            Private
                        </label>

                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="align-items-center flex-column justify-content-center row">

        <div class="col-md-6 justify-content-center align-items-center">
            <div class="form__group m-0 ">
                <input type="text" name="jobTitle" disabled id="jobTitle" required class="form__field" placeholder="Job Title">
                <label for="jobTitle" class="form__label inputPlaceHolder">Job Title</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form__group m-0 ">
                <input type="text" name="jobAddress" disabled id="jobAddress" required class="form__field" placeholder="Place of work">
                <label for="jobAddress" class="form__label inputPlaceHolder">Place of work</label>
            </div>
        </div>

   
        <div class="col-md-6 justify-content-center align-items-center">
            <div class="form__group m-0 ">
                <input type="date" name="StartingDate" disabled required id="StartingDate" class="form__field" placeholder="@localizer["Monthly income"]">
                <label for="StartingDate" class="form__label inputPlaceHolder">@localizer["StartingDate"]</label>
            </div>
        </div>

    <div class="row my-5 justify-content-center">
        <button class="btn  btn-primary" onclick="updateCustomerJobDetails()"> Update Job Details</button>
    </div>
</div>
<script>

    $(function () {
        setTimeout(function () {
            fillJobDetailsData()
        }, 400)
    });

  function fillJobDetailsData(){
      if (installmentCard) {
          $("#jobDetailId").val(installmentCard.customerJobDetailsId)
          $("#jobTitle").val(installmentCard.customerJobTitle)
          $("#jobAddress").val(installmentCard.jobAddress)
          $("#StartingDate").val(installmentCard.jobStartingDate.split("T")[0])
          if (!installmentCard.isPrivateSector) {
              $("#publicSector").click()
          } else {
              $("#privateSector").click()
          }
      }
  }
    async  function updateCustomerJobDetails() {
        jobDetailsToUpdate = {
            "id": $("#jobDetailId").val(),
            "jobAddress": $("#jobAddress").val(),
            "jobTitle": $("#jobTitle").val(),
            "salary": installmentCard.salary,
            "isPrivateSector": !$('#publicSector').prop("checked") ? true : false,
            "startingDate": $("#StartingDate").val()
        }
        var res = await fetchPut("JobDetails/UpdateJobDetails", jobDetailsToUpdate)
        if (res.succeded) {
            var mobileNumber = localStorage.getItem("mobileNumber") //updating session data 
            if (!!mobileNumber) {
                var installmentCardResult = await fetchGet("InstallmentCard/GetInstallmentCardByMobileNumber?mobileNumber=" + mobileNumber + "&lang=en")
                if (installmentCardResult.succeded) {
                    sessionStorage.setItem("installmentCard", JSON.stringify(res.content))
                    window.location.replace(fronApplicationPath + "/installmentData/Summary")
                }
            }
        }
    }

</script>

