
<div>
    <span class="material-symbols-outlined"
          onclick="redirectToSummary()">
        arrow_back
    </span>
</div>
<input type="hidden" id="customerAddressDetailsId" />
<form id="addressForm">
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <p class="m-0 fw-bolder text-center">
                <span class="fs-3">🏠</span>
                <br />
                <span class="fw-bolder">
                    Where do you currently live?

                </span>
            </p>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <label>Governerate</label>
            <select name="GovernerateId" required id="governerate" class="form-control w-100">
            </select>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <label>City</label>

            <select name="CityId" required id="city" class="form-control w-100">
            </select>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <div class="form__group m-0 ">
                <input type="text" name="Details" id="customeraddressDetails" required class="form__field" placeholder="Your Email">
                <label for="Details" class="form__label inputPlaceHolder">Address Details</label>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <div class="form__group m-0 ">
                <input type="text" name="customerAddressNearestLandmark" required id="customerAddressNearestLandmark" class="form__field" placeholder="Your Email">
                <label for="customerAddressNearestLandmark" class="form__label inputPlaceHolder">Nearest land mark</label>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <div class="form__group m-0 ">
                <input type="text" name="YearsOfResidence"  required id="YearsOfResidence" class="form__field">
                <label for="YearsOfResidence" class="form__label inputPlaceHolder">
                    years of Residence
                </label>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <p>property Type:</p>
            <div class="_selection propertyType_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="customerBuildingType" value="1" />
                    I'm the owner
                </label>

            </div>
            <div class="_selection propertyType_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="customerBuildingType" value="2" />
                    New Rent
                </label>

            </div>
            <div class="_selection propertyType_Selection p-3 my-2">

                <label class="selection_radio">
                    <input type="radio" name="customerBuildingType" value="3" />
                    Old Rent
                </label>

            </div>



        </div>
    </div>

    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary w-100" id="updateCustomerAddressBtn"> Update Address </button>
        </div>
    </div>

</form>

<script>

    $(function () {

            setTimeout(function () {
                if (installmentCard) {
                    getAllGovernerate("en", "#governerate");
                    $("#governerate").change(function () {

                        getAllCitiesByGovernerateId(installmentCard.customerGovernrateId.id, "en", "#city");
                    })
                    getAllCitiesByGovernerateId(installmentCard.customerGovernrateId.id, "en", "#city");
                    $("#customeraddressDetails").val(installmentCard.customerAddressDetails)
                    $("#customerAddressDetailsId").val(installmentCard.customerAddressDetailsId)
                    $("#customerAddressNearestLandmark").val(installmentCard.customerAddressNearestLandmark)
                    $("#governerate").val(installmentCard.customerGovernrateId.id.toString())
                    $("#city").val(installmentCard.customerCityId.id.toString())
                    $("[value=" + installmentCard.customerBuildingType.id + "]").click()
                    $("#YearsOfResidence").val(installmentCard.yearsOfResidance)
                }
            }, 400)


        // marital selection

        let radioButtons = $(".propertyType_Selection");
        $(radioButtons[0]).children().children().attr('checked', "checked");

        $(radioButtons[0]).css("border", "1px solid #0840b8");
        $(".propertyType_Selection").click(function () {

            $(this).css("border", "1px solid #0840b8");
            $(this).children().children().prop('checked', true);

            let radioSibilings = $(this).siblings();

            for (let index = 0; index < radioSibilings.length; index++) {
                $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
            }
        });
        $("#governerate").change(function () {

            getAllCitiesByGovernerateId($(this).val(), "en", "#city");
        })

        $("#updateCustomerAddressBtn").click(async function () {
            objAddressDetails = {
                "id": $("#customerAddressDetailsId").val(),
                "buildingType": $('input[name=customerBuildingType]:checked').val(),
                "nearestSign": $("#customerAddressNearestLandmark").val(),
                "details": $("#customeraddressDetails").val(),
                "cityId": $("#city").val(),
                "governrateId": $("#governerate").val(),
                "yearsOfResidance": $("#YearsOfResidence").val()
            }
            var res = await fetchPut("AddressDetails/UpdateAddressDetails", objAddressDetails)
                if (res.succeded) {
                    var mobileNumber = localStorage.getItem("mobileNumber") //updating session data 
                    if (!!mobileNumber) {
                        var installmentCardResult = await fetchGet("InstallmentCard/GetInstallmentCardByMobileNumber?mobileNumber=" + mobileNumber + "&lang=en")
                        if (installmentCardResult.succeded) {
                            sessionStorage.setItem("installmentCard", JSON.stringify(res.content))
                            window.location.replace(fronApplicationPath + "/installmentData/Summary")
                        }
                    }
                }
        })

        $("#addressForm").validate({
            errorClass: "validationError"
        });
})

    </script>