
<div>
    <span class="material-symbols-outlined"
          onclick="redirectToSummary()">
        arrow_back
    </span>
</div>

<form id="addressForm">
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <p class="m-0 fw-bolder text-center">
                <span class="fs-3">🏠</span>
                <br />
                <span class="fw-bolder">
                    Where do you currently live?

                </span>
            </p>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <label>Governerate</label>
            <select name="GovernerateId" required id="guarntorGovernerate" class="form-control w-100">
            </select>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <label>City</label>

            <select name="CityId" required id="guarntorCity" class="form-control w-100">
            </select>

        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <div class="form__group m-0 ">
                <input type="text" name="Details" id="guarntorAddressDetails" required class="form__field" placeholder="Your Email">
                <label for="Details" class="form__label inputPlaceHolder">Address Details</label>
            </div>
        </div>
    </div>

    <div class="row py-2 justify-content-center">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary w-100" onclick="updateGuarntorAddressBtn()"> Update Address </button>
        </div>
    </div>

</form>
<script>
    $(function () {
        setTimeout(function () {
            if (installmentCard) {
                getAllGovernerate("en", "#guarntorGovernerate");
                $("#guarntorGovernerate").change(function () {

                    getAllCitiesByGovernerateId($(this).val(), "en", "#guarntorCity");
                })
                getAllCitiesByGovernerateId(installmentCard.grantorGovernrateId.id, "en", "#guarntorCity");

                $("#guarntorAddressDetails").val(installmentCard.grantorAddressDetails)
                $("#guarntorGovernerate").val(installmentCard.grantorGovernrateId.id.toString())
                $("#guarntorCity").val(installmentCard.grantorCityId.id.toString())
            }
        }, 400)
    })

    async function updateGuarntorAddressBtn() {
        guarntoToUpdate = {
            "id": installmentCard.grantorId,
            "relationId": installmentCard.grantorRelationId.id,
            "name": installmentCard.grantorName,
            "nationalId": installmentCard.grantorNationalId,
            "mobileNumber": installmentCard.grantorMobileNumber,
            "addressDetailsId": installmentCard.grantorAddressDetailsId,
            "governrateId": $("#guarntorGovernerate").val(),
            "cityId": $("#guarntorCity").val(),
            "addressDetails": $("#guarntorAddressDetails").val(),
            "nearestLandMark": "string"
        }
        var res = await fetchPut("Customer/UpdateGuarntorData", guarntoToUpdate)
        if (res.succeded) {
            var mobileNumber = localStorage.getItem("mobileNumber") //updating session data 
            if (!!mobileNumber) {
                var installmentCardResult = await fetchGet("InstallmentCard/GetInstallmentCardByMobileNumber?mobileNumber=" + mobileNumber + "&lang=en")
                if (installmentCardResult.succeded) {
                    sessionStorage.setItem("installmentCard", JSON.stringify(res.content))
                    window.location.replace(fronApplicationPath + "/installmentData/Summary")
                }
            }
        }
    }
</script>