<div>
    <span class="material-symbols-outlined"
          onclick="redirectToSummary()">
        arrow_back
    </span>
</div>

<div class="row py-2 justify-content-center">

    <div class="col-md-4">
        <p class="m-0 fw-bolder text-center">
            <span class="fs-3">💍</span>
            <br />
            <span class="fw-bolder">
                what is your marital status ?
            </span>
        </p>

    </div>
</div>
<div class="row py-2 justify-content-center">
    <div class="col-md-4">
        <div class="_selection marital_Selection p-3 my-2">

            <label class="selection_radio">
                <input type="radio" name="MartialStatus" value="0" />
                Single
            </label>

        </div>
        <div class="_selection marital_Selection p-3 my-2">

            <label class="selection_radio">
                <input type="radio" name="MartialStatus" value="1" />
                Married
            </label>

        </div>



    </div>
</div>

<div class="row py-2 justify-content-center">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary w-100" id="maritalStatusUpdateBtn"> Update </button>
    </div>
</div>

<script>$(function () {

        var instalmentCard = JSON.parse(sessionStorage.getItem("installmentCard"))

        setTimeout(function () {
            var val = instalmentCard.customerMartialStatus.id;
            $('input[name=MartialStatus][value="' + val + '"]').click()

        }, 200)

        let radioButtons = $(".marital_Selection");
        $(radioButtons[0]).children().children().prop('checked', true)
        $(radioButtons[0]).css("border", "1px solid #0840b8");
        $(".marital_Selection").click(function () {

            $(this).css("border", "1px solid #0840b8");
            $(this).children().children().prop('checked', true);

            let radioSibilings = $(this).siblings();

            for (let index = 0; index < radioSibilings.length; index++) {
                $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
            }


        });

        $("#maritalStatusUpdateBtn").click(function () {
            $.ajax({
                url: baseURL + `customer/UpdateCustomerMaritialStatus?installmentCardId=${instalmentCard.id}&maritialStatus=${$('input[name=MartialStatus]:checked').val()}`,
                type: "PUT",
                datatype: "json",
                contentType: "application/json",
                async: false,
                success: function (res) {
                    if (res.succeded) {
                        window.location.replace(fronApplicationPath + "/installmentData/Summary")
                    }
                    else {
                        console.log(res.message)
                    }
                },
                error: function (err) {
                    console.log("error: ", err)
                }
            });

        });





    })</script>
