<div class="loaderContainer"style="display:none;opacity:0;">
    <svg version="1.0 " xmlns="http://www.w3.org/2000/svg " width="20% " height="1000px " viewBox="0 0 2050.000000 600.000000 " preserveAspectRatio="xMidYMid meet ">

        <g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000) "
           fill="#006CB7 " stroke="none ">
            <path d="M960 2950 l0 -2480 930 0 930 0 0 788 0 789 503 13 c277 7 571 10 653 7 298 -13 459 -78 562 -226 113 -160 157 -381 172 -866 9 -303 18 -350 76 -414 19 -21 58 -49 87 -62 l52 -24 1761 -3 1761 -2 28 77 c15 43 277 786 581 1652 305 866 555 1576 557
            1577 1 1 268 -714 592 -1589 324 -876 600 -1620 613 -1654 l24 -63 279 0 278 0 -174 516 c-96 284 -175 518 -175 520 0 2 132 4 293 4 160 0 472 3 692 7 399 6 399 6 422 29 42 42 33 87 -66 331 -174 429 -260 625 -908 2081 l-657 1472 -1073 -2 -1074 -3
            -967 -2147 -967 -2148 -12 163 c-53 710 -286 1208 -647 1382 -75 36 -177 64 -236 65 -33 1 -31 2 28 25 182 70 337 171 461 300 166 173 264 371 307 619 20 114 14 392 -11 506 -69 312 -253 621 -494 827 -248 212 -564 349 -919 397 -99 14 -369 16 -2187
            16 l-2075 0 0 -2480z m3153 1199 c82 -13 183 -47 253 -86 75 -42 165 -137 205 -218 32 -66 34 -75 34 -175 0 -98 -2 -110 -32 -173 -64 -135 -201 -239 -382 -290 -74 -21 -97 -21 -738 -25 l-663 -3 0 490 0 491 626 0 c410 0 650 -4 697 -11z " />
            <g  style="display:inline " class="Gear ">
                <path style="opacity:1;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1 " d="M12073 5343 c24 -49 250 -514 503 -1035 252 -521 462 -948 465 -948 3 0 212 406 464 903 252 496 489 962 527 1035
            l70 132 -1036 0 -1036 0 43 -87z " />
            </g>
            <path d="M15356 5252 c-415 -1073 -1071 -2671 -1390 -3385 -207 -465 -489 -1031 -590 -1185 -89 -137 -163 -191 -281 -202 -38 -4 421 -8 1020 -8 l1090 -2 599 1695 c330 932 601 1693 602 1692 2 -2 1226 -3175 1286 -3335 l19 -52 1021 0 c636 0 1018 4 1016 9 -1
            6 -543 1121 -1203 2480 l-1200 2470 -960 1 -960 0 -69 -178z " />
        </g>
    </svg>
</div>

