@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!-- Modal -->
<div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="jobDetails" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer["card details"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="monthlyIncomeForm">
                    <input  type="hidden" id="installmentId" />
                    <div class="row py-2 ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <input type="text" name="creditLimit" disabled required id="creditLimit" class="form__field" placeholder="@localizer["Credit Limit"]">
                                <label for="salary" class="form__label inputPlaceHolder">@localizer["Credit Limit"]</label>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row py-2 ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <label for="status" class="">@localizer["status"] </label>
                                <select class="form-control" required disabled id="status">
                                    <option>new</option>
                                    <option>in progress</option>
                                    <option>accepted</option>
                                    <option>rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cardDetailsEdit">close</button>
                @*<button type="button" class="btn btn-primary w-100" disabled id="MonthlyIncomeBtn"> Save </button>*@
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        
    })

    $("#monthlyIncomeForm").validate({
        errorClass: "validationError"
    });


    $("#MonthlyIncomeBtn").click(function () {
        if ($("#monthlyIncomeForm").valid()) {
            //api call
        }

    });

</script>


