@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="row py-2 ">
    <div class="col-md-12">
        <div class="form__group m-0 ">
            <input type="text" name="salary" disabled required id="salary" class="form__field" placeholder="@localizer["Monthly income"]">
            <label for="salary" class="form__label inputPlaceHolder">@localizer["Monthly income"]</label>
        </div>
    </div>
</div>
