
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    font-family: 'Roboto', sans-serif;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100% !important;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 25px 5px 5px 5px;
    background: transparent;
    transition: border-color 0.2s;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 16px;
        cursor: text;
        top: 30px;
    }

    .inputPlaceHolder,
    .form__field:focus ~ .form__label {
        position: absolute;
        top: 18px;
        left: 5px;
        display: block;
        transition: 0.2s;
        font-size: 10px;
        color: #9b9b9b;
    }

    .form__field:focus ~ .form__label {
        color: #0840b8;
    }

    .form__field:focus {
        padding-bottom: 6px;
        border: 2px solid #0840b8;
    }

.logo {
    width: 170px;
    margin: auto
}

.breakLine {
    height: 1px;
    background-color: #e3e5e8;
}

.subtext {
    color: #7f8286;
    font-size: 12px;
}

._selection {
    border: 1px solid #e3e5e8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

    ._selection:hover {
        border: 1px solid #a6a9ae;
    }

.radio_field label {
    color: #000 !important;
}

.selection_radio {
    display: grid;
    grid-template-columns: 20px auto;
    cursor: pointer;
    gap: 0.5em;
}


.jobTitle {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f6;
    font-size: 18px !important;
    margin: 3px 3px;
}

.jobs-container div.col-3 {
    text-align: center;
    cursor: pointer;
    margin-bottom: 7px;
}

.jobs-container {
    font-size: 8px;
}

.jobTitle span {
    background-color: transparent;
}

.activeJob {
    border: 2px solid #0840b8;
}

.otpInput {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    outline: 0;
    width: 54px;
    font-size: 16px;
    color: #212121;
    padding: 15px;
    background: transparent;
    transition: border-color 0.2s;
}

    .otpInput::placeholder, .otpInput:placeholder-shown {
        text-align: center;
    }

    .otpInput:focus {
        border: 2px solid #0840b8;
    }

.uploadFileArea {
    background-color: #f4f5f6;
    width: 80%;
    /*display: flex;
    flex-direction: row;*/
    //cursor:pointer;
    padding: 10px;
    border-radius: 5px;
}

    .uploadFileArea:hover p {
        color: #0840b8;
    }

.uploadIcon {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
    background-color: #000;
    border-radius: 5px;
    transition: all 300ms;
    cursor: pointer;
    font-size: 22px
}

    .uploadIcon:hover {
        transform: scale(1.1);
    }

.validationError {
    color: red !important;
}

.nameBar {
    background-color: #d2d2d2;
    height: 5px;
    width: 24%;
    border-radius: 20px;
}

.orangeColor {
    background-color: #f2b611
}

.yellowColor {
    background-color: #d4f211
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.select2 {
    width: 100% !important;
}


.avatar-upload {
    position: relative;
    
   
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: flex;
                width: 34px;
                height: 34px;
                justify-content:center;
                align-items:center;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 95%;
        height: 200px;
        margin:auto;
        position: relative;
        /*border-radius: 100%;*/
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    }

        .avatar-upload .avatar-preview > img {
            width: 100%;
            height: 100%;
            /*border-radius: 100%;*/
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
#imagePreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iconInfo{
    font-size:20px;
    cursor:pointer;
    opacity:0.7;
    transition: all 0.3s
}
.iconInfo:hover{
    opacity:1
}

.h-breakLine {
    height: 80vh;
    width: 1px;
    border-radius:10px;
    background-color: #d2d2d28c;
    margin: 0px 5px
}
.taqsety-footer {
    background-size: 465px 400px,285px 255px;
    background-position: -180px 0,1066px 100%;
    padding-top: 67px;
    background-image: url(/_nuxt/img/Rectangle.70e4436.png),url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5IiBoZWlnaHQ9IjEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLTMgMTMzbDEuOTgzLS4wOWM0LjY1IDAgNy42My02Ljg3MSAxMC4xMjctMTIuMTAyYTQ2OS43NDMgNDY5Ljc0MyAwIDAwMy44ODEtOC4wODRDMjcuODI0IDgwLjkzMiA1Ni42NDYgMSA1Ni42NDYgMWg0Ny4zODVMMTY0IDEzM2gtNTAuNDZMODAuODc1IDQyLjIxOSA1MC44NDggMTMzSC0zem0wIDBsMS45ODMtLjA5YzQuNjUgMCA3LjYzLTYuODcxIDEwLjEyNy0xMi4xMDJhNDY5Ljc0MyA0NjkuNzQzIDAgMDAzLjg4MS04LjA4NEMyNy44MjQgODAuOTMyIDU2LjY0NiAxIDU2LjY0NiAxaDQ3LjM4NUwxNjQgMTMzaC01MC40Nkw4MC44NzUgNDIuMjE5IDUwLjg0OCAxMzNILTN6IiBzdHJva2U9IiMwMDZDQjciIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsPSJub25lIiBvcGFjaXR5PSIuMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 465px 400px,285px 255px;
    background-position: -180px 0,1066px 100%;
    padding-top: 25px;
    --tw-bg-opacity: 1;
    background-color: rgba(0, 28, 70, var(--tw-bg-opacity));
    color: #fff;
}
    .taqsety-footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .taqsety-footer ul li a{
        color:#fff
    }

.bg-taksety {
    background-color: rgba(0, 28, 70) !important;
    color: #fff;
}


/*loader Styling*/
.Gear {
    animation: rotate 1.5s ease-in-out infinite;
    transform-box: fill-box;
    position: absolute;
    transform-origin: center;
    left: 0;
    bottom: 0;
}

.loaderContainer {
    position: absolute;
    justify-content: center;
    display: flex;
    background-color: #EFF2F5;
    opacity: 0.7;
    z-index: 100;
}

.container svg {
    position: relative;
    z-index: 101;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(1000px);
    }

    50% {
        transform: translateY(2000px)rotate(720deg);
        ;
    }

    75% {
        transform: translateY(2500px)rotate(720deg);
    }

    100% {
        transform: translateY(0)rotate(720deg);
    }
}
/*loader Styling*/
}
.taksety-container{
    height:100vh !important;
}